modules/
build/
include/
autom4te.cache/

*.iml
.idea/

.anjuta_sym_db.db

*.config
*.creator
*.files
*.includes
*.user

.libs/
.deps
*.*~
*.in
*.anjuta
*.la
*.lo
libtool
missing
php-setup.sh
run-tests.php
config.*
!config.m4
configure
configure.*
Makefile
Makefile.*
mkinstalldirs
ltmain.sh
install-sh
aclocal.m4
acinclude.m4